:root {
    --primary-bg: #2e2e48;
    --bright: #794bff;
    --gray: #666666;
    --gray-light: #66666680;
    --button: #373771;
    --error: #d15757;
    --accent: #57c2d1;
    --success: #61d295;
    --white: #ffffff;
    --sidebar: 350px;
}

.styled__button {
    text-decoration: none;
    color: white;
    background-color: var(--bright);
    border: 1px solid var(--bright);
    font-size: 1.15em;
    padding: 0.5rem 1rem;
    transition: 100ms;
}

.styled__button:hover {
    background-color: var(--button);
    transform: scale(1.01);
}

.dashboard {
    height: 100%;
    padding: 3rem;
    width: 90%;


    .multiple_tables{
        display: grid;
        padding: 3rem ;
        border-radius: 1rem;
        box-shadow: .5rem .51rem var(--bright);
        margin-bottom: 3rem;
        border: 2px solid var(--primary-bg);
    }



    h1 {
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    table {
        border-collapse: collapse;
    }

    td {
        padding: 1rem;
        font-size: 1rem;
        text-align: left;
    }

    tr {
        width: 10px;

    }

    thead tr {
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        height: 1px;
    }

    td:not(:first-of-type) {
        border-left: 1px solid #ddd;
    }

    td {
        padding: 0.75rem 1rem;
        text-align: left;
    }

    tbody tr {
        border-bottom: 1px solid #ddd;
        font-size: 0.75rem;

    }

    th {
        text-align: center;
        min-width: 100px;
    }

    tbody tr>*{
        font-size: 0.85rem;

    }

    th:last-child {
        padding: 1rem
    }

    th button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font: inherit;
        height: 100%;
        margin: 0;
        position: relative;
        width: 100%;
    }

    th button::after {
        position: absolute;
        right: 0.5rem;
    }

    th button[data-dir="asc"]::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpolygon points='0, 0 8,0 4,8 8' fill='%23818688'/%3E%3C/svg%3E");
    }

    th button[data-dir="desc"]::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpolygon points='4 0,8 8,0 8' fill='%23818688'/%3E%3C/svg%3E");
    }


    .input__container{
        display: flex;
        gap: 0 ;
        margin: 1rem 0;



        .input__field{
            height: 2.5rem;
            border-radius: 0.25rem 0 0  0.25rem ;
            padding: .5rem;
        }
    }

    .equipment__filter{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .equipment__filter__input{
            display: flex;
            gap: 1rem;

            .input__label{
                display: flex;
                align-items: center;
            }
            select{
                margin-left:0.5rem ;
            }
        }

        .styled__button{
            color: var(--white);
            cursor: pointer;
            border-radius:.25rem;

        }
        .search{
            .styled__button{
                background-color: var(--primary-bg);
                color: var(--white);
                cursor: pointer;
                border-radius:0 .25rem .25rem 0;


            }



        }
        .equipment__add{
            background-color: red;
            border-radius: 1rem;
        }




    }



    .equipment__admin{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .2rem;

        .styled__button{
            border-radius: 0.25rem;
            font-weight: 600;
        }

        .equipment__edit{
            background-color: var(--accent);

        }


        .equipment__delete{
            background-color: var(--error);

        }
    }

    .styled__button{
        background-color: var(--button);
        color: var(--white);
        height: 2.5rem;
        border: 0;
        padding: 0 1rem;
        cursor: pointer;
        font-size: 0.85rem;
    }

    .disabled{
        background-color: var(--gray-light);
        pointer-events: none;
    }


}

#modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 10; /* Ensure the overlay appears above other content */
    pointer-events: auto; /* Enable pointer events on the overlay */
}


.modal{
    position: absolute;
    width: 600px;
    background-color: var(--primary-bg);
    backdrop-filter: blur(10px);
    display: flex;
    border-radius: 1rem;
    box-shadow: .2rem .2rem var(--bright);
    flex-flow: column nowrap;
    padding: 4rem;
    gap: 1rem;
    color: var(--white);
    z-index: 1200;
    section{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }


    button{
        transition: none!important;
        width: 40%;
        margin-top: 1rem;
    }

    .cancel{
        background-color: var(--error);
        border: 1px solid var(--error);
    }


    .modal__buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}


.status {
    font-weight: 700;
    display: grid;
    font-size: 0.75rem;
    text-align: center;
    padding: 0.5rem 0.75rem;
    border-radius: 2rem;
}

.status__available {
    background-color: #ecfee5;
    color: #73cd00;
}

.status__loan {
    background-color: #fee5e5;
    color: #cd0000;
}
.status__repairing {
    background-color: #d6f6f4;
    color: #3bd2c8;
}

.status__decommisioned {
    background-color: #fef2e5;
    color: #cd6200;
}




/* INPUT STYLING FOR AUTH AND OTHER FORMS  */
.input__container {
    display: grid;
    gap: 0.5rem;

    input{
        font-size: 1rem;
    }

    .input__label {
        opacity: 0.7;
    }


    .input__field {
        height: 3rem;
        padding: 0.5rem;
        outline: none;
        border: 1px solid var(--gray-light);
        border-radius: .25rem;
    }

    .input__error{
        color:red;
    }

}