.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 1rem 0;
    position: relative;
}

.card-grid-item{
    border-radius: 1rem;
    overflow: hidden;
    --border-radius: .25rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    transition: 0.3s;
    cursor: pointer;

}


.card-grid-item:hover{
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    scale: 1.02;
}

.card-grid-item-read{
    opacity: .5;
}
.notification__item{
    justify-content: space-between;
    padding: 1rem 2rem;
}
.notification__content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1rem;
    position: relative;

}

.card-table th{
    padding: 12px 15px;    
}


.card td{
    padding: .5rem;
    text-align: center;
}
.card-error{
    position: absolute;
    background: var(--error-light);
    color: var(--error-dark);
    width: 100%;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
}


.card-empty{
    position: absolute;
    background: var(--pending-light);
    color: var(--pending-dark);
    width: 100%;
    padding: .7rem;
    display: flex;
    justify-content: center;
}


.card-empty td{
    width: 100%;
    text-align: center;
}


.card {
    background-color: var(--super-light);
    border-radius: 1rem;
    overflow: hidden;
    --border-radius: .25rem;

    span{
        font-size: 1rem;
        font-weight: 500;
        padding: .7rem 1rem;
    }
}

.card td:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    
}

.card td:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
