
.wrapper {
    height: 100%;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 2rem;
}

.rect {
    height: 100px;
    width: 10px;
    display: inline-block;
    margin-right: 4px;
    transform: scaleY(0.4);
    background-color: var(--primary-bg);
    animation: stretch 1.2s ease-in-out infinite;
}
.pause-animation {
    animation-play-state: paused;
}
@keyframes stretch {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1);
    }
}