

.profile{
    width: 100%;
}

.profile__image{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;

    img{
        overflow: hidden;
        border-radius: 50%;
        width: 10rem;
        aspect-ratio: 1;
        box-shadow: 0 0 .2rem var(--gray-light);
    }
}


section{ 
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}