@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Saira", sans-serif;
  --primary-bg: #181833;
  --bright: #794bff;
  --gray: #a5a5a5;
  --gray-light: #66666680;
  --button: #464667;
  --error: #d15757;
  --accent: #57c2d1;
  --success: #61d295;
  --white: #ffffff;
  --active: #373771;
  --sidebar: 400px;
}

body {
  position: relative;
}
